openapi: 3.2.0
info:
  title: Gotham Greens o Embed API
  version: oembed/1.0
  summary: oEmbed 1.0 provider endpoint for gothamgreens.com URLs.
  description: Gotham Greens acts as an oEmbed provider for its own URLs through the WordPress core oEmbed controller. Given any gothamgreens.com post or page URL, the endpoint returns oEmbed 1.0 rich metadata — provider name, author, title, thumbnail and an embeddable iframe. Verified live with an anonymous probe returning HTTP 200 for https://www.gothamgreens.com/our-story/.
  contact:
    name: Gotham Greens
    url: https://www.gothamgreens.com/contact/
  license:
    name: Site content — all rights reserved, see Terms of Use
    url: https://www.gothamgreens.com/terms-of-use/
  x-apis-io-provenance:
    method: derived
    source: https://www.gothamgreens.com/wp-json/
    derived_on: '2026-08-01'
    note: Routes enumerated from the live wp-json discovery document (406 routes across 17 namespaces); each operation below was probed anonymously and returned HTTP 200. Schemas reflect the fields observed in live responses on 2026-08-01. No fabricated operations.
servers:
- url: https://www.gothamgreens.com/wp-json
  description: Production
tags:
- name: o Embed
  description: oEmbed 1.0 discovery for Gotham Greens site URLs.
paths:
  /oembed/1.0/embed:
    get:
      tags:
      - o Embed
      operationId: getOembed
      summary: Get oEmbed data for a site URL
      description: Returns oEmbed 1.0 metadata for a gothamgreens.com URL. Non-Gotham-Greens URLs are rejected.
      parameters:
      - name: url
        in: query
        required: true
        description: The gothamgreens.com URL to retrieve embed information for.
        schema:
          type: string
          format: uri
      - name: format
        in: query
        description: The oEmbed response format.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: maxwidth
        in: query
        description: Maximum width of the embed frame in pixels.
        schema:
          type: integer
          default: 600
      responses:
        '200':
          description: oEmbed 1.0 response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OembedResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested object does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_no_route
            message: No route was found matching the URL and request method.
            data:
              status: 404
  schemas:
    Error:
      type: object
      description: The WordPress REST error envelope, verified live. Note this is NOT RFC 9457 application/problem+json — it is served as application/json with a WordPress-specific shape.
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
              additionalProperties:
                type: string
            details:
              type: object
              additionalProperties: true
          required:
          - status
      required:
      - code
      - message
      - data
    OembedResponse:
      type: object
      description: An oEmbed 1.0 rich response.
      properties:
        version:
          type: string
          const: '1.0'
        provider_name:
          type: string
        provider_url:
          type: string
          format: uri
        author_name:
          type: string
        author_url:
          type: string
          format: uri
        title:
          type: string
        type:
          type: string
        width:
          type: integer
        height:
          type:
          - integer
          - 'null'
        html:
          type: string
          description: The embeddable HTML iframe.
        thumbnail_url:
          type: string
          format: uri
        thumbnail_width:
          type: integer
        thumbnail_height:
          type: integer
      required:
      - version
      - provider_name
      - provider_url
      - type
