openapi: 3.2.0
info:
  title: Gotham Greens Metadata SEO API
  version: yoast/v1
  summary: Public Yoast SEO head metadata for gothamgreens.com URLs.
  description: The Yoast SEO REST head endpoint, exposed anonymously on gothamgreens.com. Given any site URL it returns the rendered `` SEO block as HTML plus the structured metadata behind it, including the schema.org JSON-LD graph (Organization, WebSite, WebPage, BreadcrumbList) the site publishes. Verified live on 2026-08-01 (Yoast SEO Premium v28.1). This is a plugin surface, not a Gotham Greens product API.
  contact:
    name: Gotham Greens
    url: https://www.gothamgreens.com/contact/
  license:
    name: Site content — all rights reserved, see Terms of Use
    url: https://www.gothamgreens.com/terms-of-use/
  x-apis-io-provenance:
    method: derived
    source: https://www.gothamgreens.com/wp-json/
    derived_on: '2026-08-01'
    note: Routes enumerated from the live wp-json discovery document (406 routes across 17 namespaces); each operation below was probed anonymously and returned HTTP 200. Schemas reflect the fields observed in live responses on 2026-08-01. No fabricated operations.
servers:
- url: https://www.gothamgreens.com/wp-json
  description: Production
tags:
- name: SEO
  description: Rendered SEO head metadata and JSON-LD schema graph.
paths:
  /yoast/v1/get_head:
    get:
      tags:
      - SEO
      operationId: getSeoHead
      summary: Get SEO head metadata for a URL
      description: Returns the Yoast-rendered SEO head for a gothamgreens.com URL — meta description, canonical, Open Graph and Twitter card tags, and the schema.org JSON-LD graph.
      parameters:
      - name: url
        in: query
        required: true
        description: The gothamgreens.com URL to retrieve SEO metadata for.
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: The rendered SEO head.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeoHead'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested object does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_no_route
            message: No route was found matching the URL and request method.
            data:
              status: 404
  schemas:
    SeoHead:
      type: object
      description: Yoast SEO head payload.
      properties:
        html:
          type: string
          description: The fully rendered SEO `<head>` HTML block.
        json:
          type: object
          additionalProperties: true
          description: Structured equivalent of the head — title, description, robots directives, canonical, og_* and twitter_* fields, and the `schema` JSON-LD `@graph`.
      required:
      - html
    Error:
      type: object
      description: The WordPress REST error envelope, verified live. Note this is NOT RFC 9457 application/problem+json — it is served as application/json with a WordPress-specific shape.
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
              additionalProperties:
                type: string
            details:
              type: object
              additionalProperties: true
          required:
          - status
      required:
      - code
      - message
      - data
